.container{
    margin-right: 80px;   
    width: 100%;
    margin-left: 200px;
   
}

.manageStore_items{
display: flex;
}
.side_bar_menu{
    margin-right: 20px;
    position: fixed;
    width: 14%;
    height: 79vh;
}
.storeDetail_container{
    display: flex;
    padding-left: 80px;
    margin-top: 80px;
   
}
.noItems{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card_container{
   display: flex;
   flex-wrap: wrap;
   min-width: 270px;
   min-height: 400px;
}
