.container{ 
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    opacity: 0.5;
    padding-bottom: 40px;
          
 }
 .designerName{
    font-weight: 800;
 }
 