
.container{ 
    height: 50px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
 
 }
 .active{
color: brown;
 }
 
 .cart_logo{
    display: flex;
    justify-content: center;
 }
 .cart_logo span  {
   margin-left: -9px;
 }

.navbar_brand{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.navbar_nav a{
    margin-right: 10px;
}
.navbar_brand:hover {
 
    color: black;
}
.Icon_Container { 
     margin-left: 130px;
}



  


