.title{
    display: flex;
    justify-content: space-between;
   
}
.card_container{
    display: flex;

}

.container{ 
   margin-top: 110px;
   scrollbar-color: #fff #51496b;
   scrollbar-width: thin;
   overflow-x: scroll;
   padding: 10px;
}

.scrollable-container{
    overflow-y: scroll;
     height: 400px;
     padding: 13px;
     width: 281px;
     scrollbar-color: #fff #51496b;
     scrollbar-width: thin;
}
