.title{
    display: flex;
    justify-content: space-between;
   
}
.card_container{
    display: flex;
    justify-content: space-between;
}

.container{ 
   height: 308px;
   margin-top: 110px;
   margin-left: 150px;
   margin-right: 150px;
   
         
}
