.cardContainer{
 display: flex;
 justify-content: space-between;
}
.section_title{
    display: flex;
    justify-content: space-between;
}
.section_title h3{
   
}

.container{
    
    height: 308px;
    margin-top: 60px;
    margin-left: 150px;
    margin-right: 150px;
     
}