.card_container{
    width: 900px;
    display: flex;
   
   }
.section_title{
       display: flex;
       margin-top: 150px;
   }
   .section_title h3{
    margin-right: 580px;
   }
   .btn{
    background-color: #272727;
    color:#FFFFFF;
    width: 224px;
    height: 53px;
    margin-top: 20px;
    border: 0;
    border-radius: 3px;
}
   