.side_bar_menu{
    margin-right: 20px;
    position: fixed;
    width: 14%;
    height: 79vh;
}
.manageStore_container{
    display: flex;
    padding-left: 80px;
    margin-top: 80px;
   
}
.container{
    display:flex;
    margin-top:50px
}