.img{
    width:100%;
    object-fit:cover;
}
.card{
    display: block;
    width: 90%;
    min-height: 330px;
    position: relative;
    border: 1px solid rgba(49, 46, 46, 0.3);
    border-radius: 6px;
    margin-bottom: 45px;
    margin-right: 20px;
    text-decoration: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;   
}
.btn_container{
    width: 100%;
    padding: 15px 6px;
}

.info_section, .rating, .product_name_section{
  margin-top: 10px;
  padding: 0 10px;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
background-color: #f4511e;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 9px 10px;
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
  }
  
  .btn:hover {
    opacity: 1;
    color: white;
}

  
