.btn {
    background-color: #f4511e;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 40px;
    text-align: center;
    font-size: 14px;
    margin: -26px 1px;
    opacity: 0.5;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
  }
  .btn_delete{
    background-color: #ad3030;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 40px;
    text-align: center;
    font-size: 14px;
    margin: -26px 1px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 50%;
  }
  .btn_edit{
    background-color:#f4511e;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 40px;
    text-align: center;
    font-size: 14px;
    margin: -26px 1px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 50%;
  }
.card_item{
    width: 24%;
    height: 380px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.card_body{
  margin-bottom: -50px;

}
.card_item img {
  width: 100%;
  height: 45%;
  object-fit: cover;
}

  
  .btn:hover {
    opacity: 1;
    color: white;
}
.city{
    padding: 8px 20px;
    margin-bottom: -20px;
}
.stats{
  display: flex;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
}

.skeleton_container{
  width: 100%;
}