.bg{
  
    background-color:#D7DDDF;
    height: 745px;

 
}

.container{
    width: 500px;
    background-color: #fff;
    margin-top: 20px;
    height: 400px;
    border-radius: 10px;
}

.btn{
    background-color: #72AEC8;
}